@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Add a new engineer</h1>

@using (Html.BeginForm())
{
    @Html.Label("Engineer Name: ")
    @Html.TextBoxFor(model => model.EngineerName)
    <br>
    @Html.Label("Select certification: ")
    <br>
    @Html.DropDownList("MachineId")
    <br>
    @Html.Label("Hire Date: ")
    <br>
    @Html.TextBoxFor(model => model.HireDate, "{0:d MMM yyyy}", new { @class="input-large", type = "datetime-local" })
    <br>
    <br>
    <input type="submit" value="Add new engineer" class="accept" />
}
<br>
<p>@Html.ActionLink("Show all engineers", "Index", new { area = "" }, new { @class = "accept" })</p>